
<mat-grid-list cols="2" rowHeight="100%">
  <mat-grid-tile>
    <div class="event-item3" *ngFor="let event of events">
      <mat-card id="click" (click)="getDetail(event)">
        <table>
          <td style="background-color: aqua"></td>
          <td style="padding: 16px">
            <mat-card-header>
              <mat-card-title>{{ event.title }}</mat-card-title>
              <mat-card-subtitle>{{ event.type }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>{{ event.description | slice: 0:150 }}... <br /><br /></p>
              <table>
                <tbody>
                <tr>
                  <td class="data">
                    <mat-icon aria-hidden="false">pin_drop</mat-icon>
                    {{ event.location }}
                  </td>
                  <td class="data">
                    <mat-icon aria-hidden="false">calendar_today</mat-icon>
                    {{ event.start | date: "short" }}
                    <div *ngIf="event.end">
                      - {{ event.end | date: "short" }}
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </mat-card-content>
            <mat-card-footer></mat-card-footer>
          </td>
        </table>
      </mat-card>
    </div>
  </mat-grid-tile>

  <mat-grid-tile id ="detail-card" style="display: none;" >
    <mat-card class="detail">

      <div id="detail-image-wrapper">
        <img matCardImage id="detail-image"src="" #image/>
      </div>

      <mat-card-header>
        <mat-card-title id="detail-title" #titel></mat-card-title>
        <mat-card-subtitle id="detail-subtitle" ></mat-card-subtitle>
      </mat-card-header>

      <table id="detail-table">
        <tbody>
        <tr>
          <td class="data" >
            <mat-icon aria-hidden="false">pin_drop</mat-icon><span>&nbsp;&nbsp;</span><span id="detail-location" #location></span>
          </td>
          <td class="data" >
            <mat-icon aria-hidden="false">calendar_today</mat-icon><span>&nbsp;&nbsp;</span><span id="detail-date" #start></span><span id="detail-date-end" #end></span>
          </td>
        </tr>
        </tbody>
      </table>

      <mat-card-content id="detail-description" #description></mat-card-content>
       <mat-card-actions align="start">
         <button (click)="addToPersonalEvents(eventDetail.id)">Add</button>
      </mat-card-actions>
      <!-- <mat-card-footer> Footer </mat-card-footer> -->
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>



