<!-- https://theeventscalendar.com/knowledgebase/k/the-events-calendar-rss-feed/ -->
<!-- https://material.io/resources/icons/?icon=alarm&style=baseline -->

<mat-grid-list cols="2" rowHeight="">
  <mat-grid-tile style="">
    <div class="event-item3" *ngFor="let event of eventList | async">
      <mat-card>
        <table>
          <td style="background-color: aqua"></td>
          <td style="padding: 16px">
            <mat-card-header>
              <a routerLink="/events/detail">
                <span class="badge">sss</span>
              </a>
              <mat-card-title>{{ event.title }}</mat-card-title>
              <mat-card-subtitle>{{ event.type }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>{{ event.description | slice: 0:150 }}... <br /><br /></p>
              <table>
                <tbody>
                  <tr>
                    <td class="data">
                      <mat-icon aria-hidden="false">pin_drop</mat-icon>
                      {{ event.location }}
                    </td>
                    <td class="data">
                      <mat-icon aria-hidden="false">calendar_today</mat-icon>
                      {{ event.date | date: "short" }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </mat-card-content>
            <mat-card-actions align="start">
              <button mat-button (click)="getDetail(event)">Get Details</button>
            </mat-card-actions>
            <mat-card-footer></mat-card-footer>
          </td>
        </table>
      </mat-card>
    </div>
  </mat-grid-tile>

  <mat-grid-tile style=""></mat-grid-tile>
</mat-grid-list>

<!-- <div class="event-item" *ngFor="let event of eventList | async">
  <span
    ><strong>{{ event.title }}</strong></span
  >
  <br />
  <span>{{ event.description }}</span>
  <br />
  <span>{{ event.date | date }}</span>
  <br />
  <span>{{ event.location }}</span>
  <br />
  <span><img src="{{ event.image }}" /></span>
  <br />
  <span>{{ event.participans }}</span>

  <button (click)="getDetail(event)">More Please!</button>
  <br /><br />
</div> -->

<!-- <h2>Aus DB</h2>
<button (click)="addfromDB()">Add</button>
<div class="event-item2" *ngFor="let event of events">
  <span><strong>{{ event.title }}</strong></span>
  <button (click)="getDetail(event)">More Please!</button>
</div> -->

<!-- <mat-grid-list cols="2" rowHeight="100px">
  <mat-grid-tile><mat-icon aria-hidden="false">pin_drop</mat-icon> {{ event.location }}</mat-grid-tile>
  <mat-grid-tile><mat-icon aria-hidden="false">calendar_today</mat-icon> {{ event.date | date:'short' }}</mat-grid-tile>
</mat-grid-list> -->
