/* *********** */
/* Header */
/* *********** */

.sidenav-container {
  height: 100%;
}

.mat-toolbar{
  background-color: var(--sec-light-bg-color);
  border-radius: 0 0 11px 11px;
  color: var(--main-dark-bg-color);
  box-shadow: 0 0 1px 0 rgba(52, 46, 173, 0.25), 0 15px 30px 0 rgba(52, 46, 173, 0.1);
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}




/* *********** */
/* Menu */
/* *********** */

.menu {
  z-index: 10;
  display: flex;
  flex-grow: 1;
  height: 72px;
  width: 100%;
  border-radius: 11px 11px 0 0;
  overflow: hidden;
  background-color: var(--sec-light-bg-color);
  box-shadow: 0 0 1px 0 rgba(52, 46, 173, 0.25), 0 15px 30px 0 rgba(52, 46, 173, 0.1);
  position: fixed;
  bottom: 0;
}

.menu-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  text-decoration: none;
}
.material-icons {
  font-family: "Material Icons";
  display: block;
  margin-bottom: 4px;
  font-size: 26px;
  color: #343434;
  transition: 0.25s ease;
}
.menu-item-label {
  display: block;
  font-size: 13px;
  color: #343434;
  transition: 0.25s ease;
}

.menu-item:focus, .menu-item:hover {
  outline: none;
}
.menu-item:focus .material-icons, .menu-item:hover .material-icons, .menu-item:focus .menu-item-label, .menu-item:hover .menu-item-label{
  color: var(--theme-color);
}
.menu-item.active .material-icons, .menu-item.active .menu-item-label {
  color: var(--theme-color);
}


@media (prefers-color-scheme: dark) {
  .mat-toolbar, .menu {
    background: var(--sec-dark-bg-color);
    color: var(--sec-light-bg-color);
  }
  .menu-item-label, .material-icons{
    color: var(--sec-light-bg-color);
  }
}

