<mat-sidenav-container class="sidenav-container">

  <mat-sidenav-content>
    <nav class="menu">
      <a  routerLink="" class="menu-item">
        <span class="material-icons">home</span>
        <span class="menu-item-label">Home</span>
      </a>
      <a [routerLinkActive]="['active']" routerLink="events/my-events"class="menu-item">
        <span class="material-icons">dns</span>
        <span class="menu-item-label">My Events</span>
      </a>
      <a [routerLinkActive]="['active']" routerLink="events/all" class="menu-item">
        <span class="material-icons">explore</span>
        <span class="menu-item-label">Public Events</span>
      </a>
      <a [routerLinkActive]="['active']" routerLink="events/new" class="menu-item">
        <span class="material-icons">add_circle</span>
        <span class="menu-item-label">Create Event</span>
      </a>
    </nav>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="accent">Event </span><span> Planer</span>
    </mat-toolbar>
    <!-- Add Content Here -->


    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
